.root {
    main-color: #07192b;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    sub-color: #548b94;
    -fx-background-image: url("../images/kaincenate.jpeg");
    -fx-background-size: stretch;
}

.text-field {
    -fx-text-fill: white;
    -fx-background-color: #363e47;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: sub-color;
    -fx-font: bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #9ad2db;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #51c9d6;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: rgba(0,0,0,.5);
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: sub-color;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

